body{

margin:0;
font-family:Arial;
color:white;
text-align:center;

background: radial-gradient(circle at top,#1b2735,#090a0f);

}

.logo{

font-size:40px;
margin-top:40px;

}

.cases{

display:flex;
justify-content:center;
margin-top:40px;

}

.case{

width:220px;

background:linear-gradient(145deg,#2a00ff,#7200ff);

border-radius:20px;

padding:20px;

cursor:pointer;

transition:0.3s;

}

.case:hover{

transform:scale(1.1);

}

.case img{

width:100%;

}

.roulette{

position:relative;

width:750px;

height:160px;

margin:60px auto;

overflow:hidden;

border:4px solid white;

border-radius:10px;

}

#items{

display:flex;

transition:5s cubic-bezier(.1,.7,.1,1);

}

.item{

width:150px;

height:160px;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

}

.item img{

width:100px;

}

.common{background:#555}
.rare{background:#1e90ff}
.epic{background:#8a2be2}
.legendary{background:#ff8c00}

.pointer{

position:absolute;

top:0;

left:50%;

width:4px;

height:100%;

background:red;

}
