body{

margin:0;
font-family:Arial;
color:white;
background:#0b0f2a;

}

.topbar{

display:flex;
justify-content:space-between;
padding:20px;
background:#111;

}

.case-grid{

display:grid;
grid-template-columns:repeat(auto-fit,200px);
gap:30px;
justify-content:center;
margin-top:50px;

}

.case{

background:#1b1f44;
padding:20px;
border-radius:15px;
text-align:center;
transition:0.3s;

}

.case:hover{

transform:scale(1.1);

}

.case img{

width:100%;

}

.roulette{

position:relative;
width:750px;
height:150px;
overflow:hidden;
margin:50px auto;
border:3px solid white;

}

#items{

display:flex;

}

.item{

width:150px;
height:150px;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;

}

.pointer{

position:absolute;
left:50%;
top:0;
width:4px;
height:100%;
background:red;

}

#inventory{

display:grid;
grid-template-columns:repeat(auto-fit,150px);
gap:20px;
padding:40px;

}
